@media all and (max-width: 900px) {
	.hero{
		.row{
			flex-direction: column;
		}
		.hero__content{
			width: 70%;
			h1{
				text-align: center;
			}
			p{
				text-align: center;
			}
			.hero__show-more{
				display: block;
				margin: 0 auto;
			}
			.hero__image-mobile{
				display: block;
				margin-bottom: 35px;
				img{
					width: 100%;
				}
			}
		}
	
		.hero__image{
			display: none;
		}
	}
	.advertising, .products{
		.row{
			justify-content: center;
			gap: 30px;
		}
		h2{
			text-align: center;
		}
	}
}

@media all and (max-width: 768px) {
	header{
		.row{
			gap: 10px;
		}
		.header__logo img{
			height: 60px;
		}
		.header__basket figure{
			bottom: -5px;
			right: -3px;
		}
		.header__burger{
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			width: 38px;
			height: 26px;
			figure{
				height: 4px;
				width: 100%;
				background: #331717;
				border-radius: 5px;
				transition: all 0.4s;
			}
		}

		.header__nav-contacts{
			display: block;
		}

		.header__burger.active{
			#burger-1{
				transform: rotate(45deg) translate(8px, 7px);
			}
			#burger-2{
				width: 0%;
				transform: translate(20px);
			}
			#burger-3{
				transform: rotate(-45deg) translate(8px, -8px);
			}
		}
		nav{
			position: absolute;
			left: -100%;
			top: 65.6px;
			padding: 0 15px;
			transition: left 0.5s;
		}
	
		nav .row{
			display: block;
		}
	
		nav .link{
			display: block;
		}
		
		.header__nav-page .link{
			border: 1px solid #331717;
			border-radius: 15px;
			width: 100%;
			height: 60px;
			font-size: 24px;
			line-height: 60px;
			margin: 10px 0;
			text-align: center;
		}
	
		nav p{
			display: block;
			font-size: 24px;
			margin-top: 20px;
			margin-bottom: 30px;
			font-weight: 400;
		}
		
		nav.active{
			z-index: 1;
			left: 0;
			width: 100%;
			background-color: white;
			height: calc(100vh - 65.6px);
		}
		.header__nav-contacts img{
			width: 38px;
		}
		.header__nav-contacts{
			position: absolute;
			bottom: 20px;
			left: 20px;
			width: fit-content;
		}
		.header__nav-contacts ul{
			display: flex;
			flex-direction: column;
			gap: 20px;
		}
		.header__nav-contacts a{
			display: flex;
			align-items: center;
			text-decoration: none;
			color: #331717;
			gap: 10px;
		}
	}

	section{
		padding: 40px 0 !important;
	}

	footer{
		padding-bottom: 50px;
		.footer__contacts ul{
			flex-direction: column;
			width: fit-content;
			margin: 0 auto;
		}
	
		.footer__contacts li{
			width: 100%;
			font-size: 18px;
		}
	
		.footer__logo{
			position: static;
			margin: 0 auto 25px auto; 
		}
	
		.footer__contacts li:nth-child(1){
			order: 1;
		}
		.footer__contacts li:nth-child(2){
			order: 2;
		}
		.footer__contacts li:nth-child(3){
			order: 3;
		}
		.footer__contacts li:nth-child(4){
			order: 4;
		}
		.footer__contacts li:nth-child(1) a{
			flex-direction: row;
		}
		.footer__contacts li:nth-child(2) a{
			flex-direction: row;
		}
	}
}

@media all and (max-width: 425px) {
	.hero{
		.hero__content{
			width: 100%;
			h1{
				font-size: 32px;				
			}
			.hero__show-more{
				width: 280px;
			}
		}
	}	
}